<%= partial 'partials/head' %>
<%= partial 'partials/header' %>
<section class="small-hero" style="background-image=<%= current_page.data.image %>">
        <ul id="breadcrumb">
        <li><a href="/" title="Home"><img src="../images/breadcrumb-home-icon.gif" alt="Home" class="home" /></a></li>
            <li><a href="/naati" title="NAATIサービスの概要">R<span style="font-size:0.9em">ECENT POSTS</span></a></li>
            <li style="background-image:none"><a href="/naati" title="NAATIサービスの概要">B<span style="font-size:0.9em">LOG CATEGORIES</span></a></li>
    </ul>
   <div class="hero-bottom-symbol"> <img src="../images/logos/Penhawk-logo-symbol.svg" alt="logo" /> </div>
</section>
<div class="blog-page-title">
    <h1><%= current_page.data.title %></h1></div>
<div class="blog-single-column">
    <div class="lede"><%= current_page.data.introtext %></div>
    <div class="byline"><span style="color:orange; font-style:italic; font-family: 'Droid Serif', serif;">by</span> <span style="color:orange"><%= current_page.data.by %></span>　<span style="color:#54504E"><%= current_page.data.date %></span></div>
</div>
    <%= yield %>
<%= partial 'partials/footer' %>
<%= partial 'partials/foot' %>