<html>
  <head>
      <script src="https://use.typekit.net/wog4shc.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <% if current_page.metadata[:page].try(:[], 'description') %>
    <meta name="description" content="<%= current_page.metadata[:page]['description'] %>">
  <% end %>

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet" type="text/css">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <link rel="shortcut icon" href="../../images/logos/Penhawk-logo-symbol-favicon.png">
  </head>
<header><nav id="sc3">
<div id="logo">
    <a href="/"><img src="../../images/Penhawk-logo-name-white.png" alt="Penhawk" style="width:100%;"/></a></div>
  <input id="hamburger" type="checkbox" class="hamburger-checkbox">
  <label for="hamburger" class="hamburger-label" role="button" aria-labelledby="menu">&#xf0c9;</label>
<nav role="navigation" class="sidebar">
  <ul class="menu">
      <li><a href="/" title="ホーム">ホーム</a></li>
      <li><a href="/naati/" title="NAATI認定翻訳">NAATI認定翻訳</a></li>
      <li><a href="../naati/pricing-and-schedule" title="料金とスケジュール">料金とスケジュール</a></li>
      <li><a href="/about/" title="会社概要">会社概要</a></li>
      <li><a href="/enquiry/" title="お問い合わせ">お問い合わせ</a></li>
    </ul>
</nav>
 
    
    <ul id="mainmenu">
      <li><a href="/naati/" title="NAATI認定翻訳">NAATI認定翻訳</a></li>
      <li><a href="../naati/pricing-and-schedule" title="料金とスケジュール">料金とスケジュール</a></li>
      <li><a href="/about/" title="会社概要">会社概要</a></li>
      <li><a href="/enquiry/" title="お問い合わせ">お問い合わせ</a></li>
    </ul>
  </nav></header>
<section class="small-hero">
        <ul id="breadcrumb">
        <li><a href="/" title="Home"><img src="../images/breadcrumb-home-icon.gif" alt="Home" class="home" /></a></li>
            <li><a href="/naati" title="NAATIサービスの概要">R<span style="font-size:0.9em">ECENT POSTS</span></a></li>
            <li style="background-image:none"><a href="/naati" title="NAATIサービスの概要">B<span style="font-size:0.9em">LOG CATEGORIES</span></a></li>
    </ul>
   <div class="hero-bottom-symbol"> <img src="../images/logos/Penhawk-logo-symbol.svg" alt="logo" /> </div>
</section>
<div class="blog-page-title">
    <h1><%= current_page.data.title %></h1></div>
<div class="blog-single-column">
    <div class="lede"><%= current_page.data.introtext %></div>
    <div class="byline"><span style="color:orange; font-style:italic; font-family: 'Droid Serif', serif;">by</span> <span style="color:orange"><%= current_page.data.by %></span>　<span style="color:#54504E"><%= current_page.data.date %></span></div>
</div>
    <%= yield %>
<%= partial 'partials/footer' %>
<%= partial 'partials/foot' %>