<!DOCTYPE html>
<html lang="ja">
  <head>
<style>*,:after,:before{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}h1{font-size:3.5em}article{position:relative;width:cover;display:-webkit-flex;display:flex;-webkit-flex-flow:column;flex-flow:column;min-height:85vh;background-image:url("images/hero-images/yarra_river2.webp");background-position:center center;background-size:cover}article>.hero-heading{position:absolute;bottom:10%;text-align:center;width:100%}#main1{display:-webkit-flex;display:flex;-webkit-flex-flow:row;flex-flow:row;-webkit-flex:0 1 auto;flex:0 1 auto;height:auto;width:100%;margin:0;padding:0;background-color:#1f1715;border-top:4px solid #1f1715;border-bottom:4px solid #1f1715}#main1>.section{width:100%;min-height:9em;max-height:11em;margin:0;padding:1em;justify-content:center;border:1px solid #fff;background-size:cover;-webkit-flex:1 1 50%;flex:1 1 50%;-webkit-order:1;order:1;flex-wrap:wrap}#main1>.section:first-of-type{background-image:url("/images/hero-images/flinders_st1a.webp");background-position:center center}#main1>.section:nth-of-type(2){background-image:url("/images/hero-images/degraves2a.webp");background-position:center center}#main1>.section:nth-of-type(3){background-image:url("/images/hero-images/botanic_gardensa.webp");background-position:center center}#main1>.section:nth-of-type(4){background-image:url("/images/hero-images/richard-profile1a.webp");background-position:center right}@media print and (max-width:960px){#main1{display:-webkit-flex;display:flex;-webkit-flex-flow:wrap;flex-direction:wrap}}@media print and (max-width:800px){.hero-heading>h1{font-style:normal;font-weight:400;font-size:3em;line-height:170%}}@media print and (max-width:720px){.hero-heading>h1{font-style:normal;font-weight:400;font-size:2.4em;line-height:170%}}@media print and (max-width:650px){article{min-height:60vh}.hero-heading>h1{font-style:normal;font-weight:400;font-size:2.2em;line-height:170%}#main1{display:-webkit-flex;display:flex;-webkit-flex-flow:column;flex-direction:column}#main1>.section{min-height:9em;max-height:10em;padding-top:2em}}@media print and (max-width:500px){.button-home{width:150px;height:40px;font-size:1.2em}.hero-heading>h1{font-style:normal;font-weight:400;font-size:1.6em;line-height:170%;color:#fff}}@media print and (max-width:390px){.button-home{width:130px;height:40px;font-size:1.2em}.hero-heading>h1{font-style:normal;font-weight:400;font-size:1.4em;color:#fff}}</style>
<link rel="preload" href="../index.scss" as="style">
<script>
  (function(d) {
    var config = {
      kitId: 'xnl5ttv',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);</script>
    <script> loadCSS('source/index.scss');
</script>
      
      <script src="https://kit.fontawesome.com/ae7eb15cff.js" crossorigin="anonymous"></script>
      
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <% if current_page.data.description %>
    <meta name="description" content="<%= current_page.data.description %>">
  <% end %>
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
    <link rel="shortcut icon" href="../../images/logos/Penhawk-logo-symbol-favicon.png">
  </head>

  <body class="<%= page_classes %>">